machine-learning/S17D1-S-Data-Preprocessor-Tuning/
machine-learning/S17D1-S-Data-Custom-Transformer/
machine-learning/S17D1-S-Data-hand-made-standardizer/
machine-learning/Data-the_botanist/
machine-learning/S17D3-S-data-movie-recommendation/
machine-learning/S16D2-S-Data-car-prices/
machine-learning/S16D2-S-Data-houses_preparation/
